h1 {
  font-family: monospace;
  color: red;
}

body {
  color: white;
  font-family: monospace;
  background: url(/../resources/img/bg4.jpeg);
  background-size:cover;
  background-attachment: fixed;
}

button {
  color: black;
  margin-top: 3px;
}

input {
  color: black;
  font-size: 11px;
}

.well {
  background-color: rgba(0, 0, 0, 0.2);
}

.container {
  width: 85%;
  text-align: center;
}

.page-header {
  text-align: center;
  font-family: monospace;
  color: red;
}

.meal-in-list {
  padding: 5px;
}

.spacer {
  color: red;
}

.scroll-bar {
  height: 750px;
  overflow: hidden;
}

.scroll-bar:hover {
  overflow-y: scroll;
}

.list-box {
  background-color: rgba(0, 0, 0, 0.7);
}

.edit-box {
  background-color: rgba(0, 0, 0, 0.7);
}

.new-box {
  background-color: rgba(0, 0, 0, 0.7);
}

.col-sm-4 {
  font-family: monospace;
  padding: 10px;
}

.col-sm-3 {
  font-family: monospace;
  padding: 10px;
}
